.container {
  width: 100%;
  margin: 1.2rem 0;
  display: flex;
  flex-direction: column;
}

.subItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.titleText {
  flex: 1;
}
