.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  color: var(--color-white);
  background-image: linear-gradient(
    to right,
    var(--color-purple),
    var(--color-purple-light)
  );
}

.desktopContainer {
  display: block;
}

.mobileContainer {
  display: none;
}

@media only screen and (max-width: 868px) {
  .desktopContainer {
    display: none;
  }

  .mobileContainer {
    display: block;
  }
}
